/* ************* Global Styling ************* */
:root{
    --blueBg: rgb(29, 215, 200);
    --blueNavyButton: rgb(0, 57, 132);
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    text-align: center;
    background-color: var(--blueNavyButton);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 1.375rem;
    cursor: pointer;
    margin: 5px;
}

form, textarea, input, label, select{
    font-size: 1.5rem;
    padding: 5px;
    margin: 5px;
}

/* ************* Start of Individual Class Styling ************* */
.main-header {
    background-color: var(--blueBg);
    padding-bottom: 10px;
}

.title {
    text-align: center;
    margin: 0;
    padding-top: 35px;
    font-size: 6em;
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.searchResults {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
}

/* ************* CARD Styling ************* */
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    width: 25rem; /*300px*/
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.card-content {
    padding: 20px;
    font-family: "Verdana";
    color: #777;
}

.card-content h2 {
    margin-top: 0;
    font-size: 1.75rem;
    text-align: center;
}

.card-content h3{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: right;
    /* font-style: italic; */
}

.card img {
    width: 100%;
    height: auto;
}

.rating{
    text-align: center;
    font-size: 1.5rem;
}

ul li{
    line-height: 1.5rem;
    font-size: 1.25rem;
}

/* ************* FORM Styling ************* */
.addCard{
    padding: 2rem;
    font-size: 1.5rem;
}

/* ************* Footer Styling ************* */

.footer {
    display: flex;
    justify-content: center;
    background-color: var(--blueBg);
    padding: 10px;
}